# Database Configuration
DATABASE_URL=postgresql://vedantmanjrekar:vedu@postgres@db:5432/git_analytics

# Redis Configuration (Celery Broker / Backend)
REDIS_URL=redis://redis:6379/0

OPENAI_API_KEY=your_openai_api_key_here

# Environment Settings
ENV=development
